.intro {
  padding: 155px 30px 155px 55px;

  &__title {
    margin-bottom: 70px;
    text-align: center;
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__img {
    margin-right: 50px;
  }

  &__heading {
    margin-bottom: 30px;
  }

  &__paragraph {
    margin-bottom: 40px;
  }
}
