@import "src/styles/vars";

.button {
  width: 210px;
  height: 37px;
  background-color: $button-color;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: inherit;
  outline: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $button-color-hovered;
  }

  &_flat {
    background-color: $back-color1;
    color: $button-color;

    &:hover, &:focus {
      background-color: $back-color1;
      color: $button-color-hovered;
    }
  }
}