.info {
  padding: 115px 0 115px 30px;
  background: url("../../assets/banner-photo.jpg") no-repeat 50% 50%;
  background-size: cover;
  color: white;

  &__title {
    margin-bottom: 40px;
    max-width: 530px;
    font-size: 50px;
    text-transform: uppercase;
  }

  &__description {
    max-width: 530px;
    margin-bottom: 40px;
  }
}
