@import "vars";

h1, h2, h3, h4, h5, p,
button, span, label, input::placeholder,
li {
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-size: 50px;
  line-height: 54px;
  font-weight: 400;

  @media (max-width: $tablet-screen-breakpoint) {
    font-size: 40px;
    line-height: 44px;
  }

  @media (max-width: $mobile-screen-breakpoint) {
    font-size: 30px;
    line-height: 34px;
  }
}

h4 {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
}

p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
