$primary-color: #ef5b4c;
$secondary-color: #0d7bff;
$font-color: #4c4b4b;
$back-color1: #fff;
$back-color2: #f9f9f3;
$button-color: #ef5b4c;
$button-color-hovered: #d24335;
$button-color-disabled: #d7d7d7;
$footer-border-color: #ececec;

$tablet-screen-breakpoint: 769px;
$mobile1-screen-breakpoint: 600px;
$mobile-screen-breakpoint: 400px;
