@import "src/styles/vars";

.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $back-color1;
  padding: 30px 20px;
  height: 60px;

  &__burger {
    display: none;
    cursor: pointer;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__checkbox {
    display: none;
  }
}

@media (max-width: $tablet-screen-breakpoint) {
  .header {

    &__burger {
      display: block;
    }

    &__nav {
      display: none;
    }

    &__checkbox:checked + &__nav {
      display: block;
    }
  }
}
